* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

nav a {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

/* descendencia */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
